.footer {
  width: 100%;
  color: #ede3d3;
  padding: 20px 0;
  background-color: #064426;
}

.footer hr {
  border-top: 1px solid #ede3d3;
  width: 90%;
  margin: 0px 20px 0 110px;
}

.footer-content {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.footer-logo img {
  width: 300px;
  height: 300px;
  /* margin: 5px 150px; */
  margin-right: 0;
  margin-top: -100px;
}

.footer-box {
  /* width: calc(25% - 20px); */
  margin-bottom: 20px;
}

.footer-info,
.footer-links,
.footer-social {
  display: flex;
  justify-content: center;
}

.footer-info p {
  margin: 5px 0;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  color: #ede3d3;
  text-decoration: none;
}

.footer-social svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer-social svg:hover {
  background-color: #ede3d3;
  color: #064426;
  padding: 1px;
  border-radius: 10px;
}

.footer-bottom {
  margin-top: 10px;
  text-align: center;
}

.footer-contact p a {
  color: #ede3d3;
  font-weight: 700;
}

.footer-contact p a:hover {
  text-decoration: underline;
}

.footer-links li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 988px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin: 0;
  }
  .footer-social ul {
    display: flex;
    justify-content: center;
  }
  .footer-links ul {
    margin-top: 16px;
    display: flex;
    padding: 0;
    gap: 10px;
    width: 100%;
  }
  
}

@media screen and (max-width: 668px) {
  .footer-logo img {
    width: 200px;
    height: 200px;
  }
  .footer-links ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    width: 100%;
  }
  
}