@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
}


.footer {
    width: 100%;
    color: #ede3d3;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo {
    margin-bottom: 20px;
  }
  
  .footer-logo img {
    width: 50px;
    height: auto;
  }

  .footer-links a:hover{
    text-decoration: underline;
  }
  
  
  .footer-links,
  .footer-social {
    margin-bottom: 10px; 
    font-size: 30px;
  }
  
  .footer-links ul,
  .footer-social ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li,
  .footer-social li {
    display: inline-block;
    margin: 50px;
  }
  
  .footer-links a,
  .footer-social a {
    color:#ede3d3;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 10px;
  }
  
  .footer-social{
    border-bottom: solid 1px #ede3d3;
    width: 80vw;
  }

  .footer-social svg {
    width: 50px;
    height: 50px;
  }

  .footer-social svg:hover{
    background-color: #ede3d3;
    color: #064426;
    border-radius: 10px;
  }

  .footer-logo{
    position:relative;
  }

  .footer-logo img{
    position:relative;
    top: 110px;
    height: 550px;
    width: 550px;
    margin: 0px;
  }