@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover{
  text-decoration: underline;
}

body {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
}

.prop-listing-info {
  margin-top: 100px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.property-info h2 {
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 20px;
  font-size: 60px;
  width: 600px;
}

.property-info {
  display: flex;
  align-items: center;
}

.property-info p {
  font-size: 30px;
}

.listing-grid-container {
  
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;
  width: 80%;
}
.listing-grid-container > div {
  background-color: #ede3d3;
  color: #064426;
  padding: 20px 0;
  font-size: 30px;
}

.listing-info {
  grid-column: 1;
  border-radius: 5px;
  width: 600px;
  height: 1000px;
}

.listing-info p{
    margin-top: 10px;
    margin-left: 30px;
}

.main-image {
  grid-column: 2;
  grid-row: 1;
  background-image: url(https://images.unsplash.com/photo-1472377723522-4768db9c41ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 10px;
}

.prop-images {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  padding-left: 20px;
}

.gallery .gallery-img {
  width: 400px;
  height: 400px;
}

.booking-dates {
  grid-row: 2;
  display: block;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  margin: auto;
}



.booking-dates label,
.booking-dates input[type="date"],
.booking-dates button {
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
}

.booking-dates input[type="date"] {
  width: 300px;
  height: 50px;
  background-color: #064426;
  color: #ede3d3;
  font-weight: bold;
}

.booking-dates label {
  font-size: 30px;
}

.booking-dates button{
    margin-top: 40px;
    font-size: 20px;
    background-color: #064426;
    color: #ede3d3;
}

.booking-location {
  grid-row: 3;
  border-radius: 5px;
}

.property-details {
  grid-column: 2;
  grid-row: 2 /4;
  margin: 0;
  border-radius: 5px;
}

.property-details p{
  padding: 40px;
}


.property-amenities {
  grid-column: 3;
  grid-row: 2 / 4;
  border-radius: 5px;
}
