@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  text-decoration: underline;
}

body {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
}

.listing-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 20px;
  padding: 10px;
  width: 90%;
}
.prop-listing-info {
  margin: auto;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.property-info h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 30px;
  width: 600px;
}


.listing-text p {
  font-size: 20px;
}


.listing-grid-container > div {
  background-color: #ede3d3;
  color: #064426;
  padding: 20px 0;
  font-size: 20px;
}

.listing-info {
  border-radius: 5px;
}

.listing-info p {
  margin-top: 10px;
  margin-left: 40px;
}

.main-image {
  background-image: url(https://images.unsplash.com/photo-1472377723522-4768db9c41ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: 100%;
  width: 2000px;
  height: 400px;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 10px;
}

.prop-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.gallery {
 padding: ;
}

.gallery .gallery-img {
  width: 350px;
  height: 200px;
}

.booking-dates label,
.booking-dates input[type="date"] {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 10px;
}

.booking-dates button {
  bottom: 10px;
  right: 50px;
}

.booking-dates input[type="date"] {
  
  width: 300px;
  height: 30px;
  background-color: #064426;
  color: #ede3d3;
  font-weight: bold;
  font-size: 15px;
}

.booking-dates {
  font-size: 20px;
}

.booking-dates button {
  margin-top: 10px;
  margin-left: 170px;
  padding: 8px 16px;
  font-size: 20px;
  background-color: #064426;
  color: #ede3d3;
}

.booking-location {
  
  border-radius: 5px;
}

.property-details {
  margin: 0;
  border-radius: 5px;
}

.property-details p {
  padding: 30px;
  font-size: 20px;
 
}

.property-amenities {
  border-radius: 5px;
}

.amen-icons {
display: flex;
  gap: 10px;
}

.icon {
  height: 50px;
  margin: 10px;
}

.icon:hover {
  cursor: pointer;
}

.box-4{
  display: flex;
  flex-direction: column;
  width: 375px;
  gap: 20px;
  border: 6px solid red;
}

.booking-dates, .booking-location{
 margin-left: 20px;
}

.box-5{
  border: 6px solid blue;
  display: flex;
  width: 70%
}

.box-6{
  border: 6px solid orange;
  display: flex;
  
}

hr{
  margin-top: 20px;
  margin-left: 30px;
  height:4px;
  width: 300px;
  border-width:0;
  color:#064426;
  background-color:#064426
}