@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
}

.prop-listing-info {
  margin-top: 900px;
}

.property-info h2 {
  margin-left: 20px;
  font-size: 51.2px;
  width: 600px;
}

.property-info {
  display: flex;
  align-items: center;
}

.property-info p {
  margin-left: 950px;
  font-size: 30px;
}

.listing-grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto; 
  gap: 30px;
  padding: 10px;
  width: 80%;
}
.listing-grid-container > div {
  background-color: #ede3d3;
  color: #064426;
  padding: 20px 0;
  font-size: 30px;
}

.listing-info {
  grid-column: 1;
  height: 800px;
  border-radius: 5px;
  width: 500px;
}

.main-image {
  grid-column: 2 ;
  background-image: url(https://images.unsplash.com/photo-1472377723522-4768db9c41ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
}

.prop-images {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  
}
.gallery {
    display: grid;
    grid-template-columns: auto auto; 
    gap: 20px; 
  }

.gallery .gallery-img{
    width: 400px;
    height: 350px;
}

.booking-dates {
  grid-row: 2;
}

.booking-location {
  grid-row: 3;
}

.property-details {
  grid-column: 2;
  grid-row: 2 /4;
  margin: 0;
}

.property-amenities {
  grid-column: 3;
  grid-row: 2 / 4;
}
