@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* 
.navbar {
  background-color: #064426;
  color: #ede3d3;
  padding: 16px; 
} */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

container h2 {
  color: #ede3d3;
  font-size: 60px;
}

.booking-box {
  display: flex;
  justify-content: space-between;
  width: 103%;
  height: 250px;
  background-color: #ede3d3;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.property-details {
  color: #064426;
  margin-right: 16px;
  border: 10px solid pink;
}

.property-details h2 {
  margin-bottom: 8px;
}

.property-details p {
  margin: 0;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-content button {
  background-color: #064426;
  margin-bottom: 8px;
}

button {
  background-color: #ede3d3;
  color: #064426;
}

/* Font */
body {
  font-family: "Playfair Display", serif;
}
