@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* 
.navbar {
  background-color: #064426;
  color: #ede3d3;
  padding: 16px; 
} */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; 
}

h1 {
  font-size: 150px;
  margin-top: 70px;
}

h2 {
 
  font-size: 30px;
  padding-right: 130px;
}

h3{
  font-size: 20px;
  padding-top: 10px;
  padding-right: 100px;

}

.booking-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 102%;
  background-color: #ede3d3;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  
}

.left-content{
  display: flex;
  align-items: center;
}

img {
  width: 250px;
  height: 200px;
  margin-right: 16px;
}

.property-details {
  display: flex; 
  flex-direction: row; 
  color: #064426;
  margin-left: 100px;
  
}

.booking-box .property-details h2{
  font-weight: bold;
  font-style: italic;
}


.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-content button {
  background-color: #064426;
  color: #ede3d3;
  margin-bottom: 8px;
}

/* Font */
body {
  font-family: 'Playfair Display', serif;
}
