@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #064426;
}

.dash-container {
  width: 90%;
  margin: auto;
  margin-top: 150px;
}
.dash-container h1 {
  margin-top: 60px;
  margin-left: 100px;
  font-size: 40px;
  color: #ede3d3;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.profile-box,
.member-status,
.favourites-box,
.your-listings,
.socials,
.help-center {
  background-color: #ede3d3;
  border-radius: 10px;
  color: #064426;
}
.big-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  padding: 40px;
}
.box-1 {
  display: flex;
  flex-direction: column;
  width: 375px;
  gap: 20px;
}
.box-2 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 20px;
}

.box-3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 110px;
  gap: 20px;
}

/* PROFILE BOX */

.profile-box {
  height: 610px;
  display: flex;
 justify-content: center;
}

.profile-pic {
  width: 250px;
  height: 250px;
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 50%;
  border: 5px solid #064426;
}

.user-data h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-left: 120px;
  margin-top: 10px;
}

.user-data p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.user-data button {
  background-color: #064426;
  color: #ede3d3;
  margin-left: 30px;
  margin-top: 50px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 320px;
  height: 42px;
  font-size: 20px;
}

/* FAVOURITES BOX */

.favourites-title {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 30px;
}

.favourites-title h2 {
  font-weight: bold;
}

.favourites-box {
  display: flex;
  flex-direction: column;
}
.title-button {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.property-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.property-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.property-card p {
  padding-top: 30px;
  font-size: 20px;
}

.property-card img {
  height: 320px;
  width: 320px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.property-card button {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #064426;
  font-size: 20px;
  width: 320px;
  height: 40px;
  padding: 8px 16px;
}

.property-card p {
  margin: 0;
  font-size: 20px;
}

.manage-favourites-button {
  width: 320px;
  height: 40px;
  margin-top:40px ;
  margin-right: 40px;
  padding: 8px 16px;
  font-size: 20px;
  background-color: #064426;
  color: #ede3d3;
}

/* MEMBERSHIP STATUS BOX */

.member-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 605px;
}

.member-title {
  font-size: 30px;
  margin-top: 30px;
 margin-left: 10px;
 margin-bottom: 10px;
}

.member-status p {
  margin-bottom: 20px;
  font-size: 20px;
}

.mem-button {
  width: 320px;
  padding: 18px 36px;
  margin-bottom: 10px;
  font-size: 30px;
}

.member-status {
  display: flex;
  flex-direction: column;
}

.member-status button {
  background-color: #064426;
  height: 40px;
  font-size: 20px;
  padding: 8px 16px;
}
.mem-logo img {
  width: 150px;
  height: 150px;
}

.mem-points img {
  width: 150px;
  height: 150px;
}

/* YOUR LISTINGS BOX */
.your-listings {
  display: flex;
  flex-direction: column;
}

.listings-box {
  width: 200%;
}

.listings-title {
  font-size: 30px;
  margin-top: 35px;
  margin-left: 30px;
}

.listing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.listing-card p {
  padding-top: 30px;
  font-size: 20px;
}

.listing-card img {
  height: 320px;
  width: 320px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.listing-card button {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #064426;
  font-size: 20px;
  width: 320px;
  height: 40px;
  padding: 8px 16px;
}

.add-new-listing-button {
  width: 320px;
  height: 40px;
  margin-top:40px ;
  margin-right: 40px;
  padding: 8px 16px;
  font-size: 20px;
  background-color: #064426;
}

/* SOCIALS BOX */
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 45%;
}

.socials-title {
  font-size: 20px;
  margin-top: 35px;
  width: 100%;
  padding-left: 30px;
}

.socials-article {
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}



.icon-image img {
  width: 380px;
  height: 400px;
  border-radius: 10px;
  margin: 0;
}

.icon-image{
  display: flex;
  align-items: center;
}



.arrows {
  display: inline;
  height: 20px;
  padding: 2px;
}

.arrows:hover
{
  background-color: #064426;
  color: #ede3d3;
  border-radius: 50px;
  cursor: pointer;
}

/* HELP CENTER BOX */
.help-center {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.help-title {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 35px;
}

.help-buttons {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-buttons button {
  top: 50px;
  background-color: #064426;
  width: 375px;
  padding: 8px 16px;
  font-size: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width:1630px){
  .dash-container h1{
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1500px) {
  .big-box {
    flex-wrap: wrap;
  }

  .box-1 {
    width: 84%;
  }

  .box-3{
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
  }
  .socials,
  .help-center {
    width: 100%;
  }
}


@media only screen and (max-width: 950px) {
  .profile-box{
    display: flex;
    justify-content: center;
  }
  
}

@media only screen and (max-width: 880px) {
  .icon-image img {
    width: 300px;
    height: 250px;
  }
  .help-buttons button, .add-new-listing-button, .member-status button, .mem-button, .user-info button, .manage-favourites-button {
    width: 300px;
  }

  .favourites-title, .listings-title{
    font-size: 20px;
  }

  .socials{
    height: 450px;
  }

  .socials-article{
    text-align: center;
  }
  
}


@media only screen and (max-width: 790px){
  .box-1{
    width: 100%;
  }

  .box-3{
    padding-left: 40px;
    padding-right: 40px;
  }

  .profile-pic{
    margin-left: 40px;
  }

  .user-data h2{
    margin-left: 10px;
    text-align: center;
  }

.user-info p{
  margin-left: 2;
}  

.user-info button{
  margin-left: 20px;
}
}


@media only screen and (max-width: 620px){
  .arrows{
    display: none;
  }
}

@media only screen and (max-width: 600px){
  .icon-image img{
    width: 280px;
    height: 180px;
  }

  .socials{
    height: 400px;
  }
}

@media only screen and (max-width: 550px){


.profile-pic{
  margin-left: 30px;
}

.user-data h2{
  margin-left: 80px;
}

.user-info button{
  margin-left: 65px;
}

  .icon-image img{
    width: 200px;
    height: 150px;
  }

  .arrows{
    display: none;
  }

  .help-buttons button, .add-new-listing-button, .member-status button, .mem-button, .user-info button, .manage-favourites-button, .listing-card button, .property-card button {
    width: 170px;
    font-size: 15px;
  }
 

}

@media only screen and (max-width: 480px){
  .icon-image img{
    width: ;
  }
}

@media only screen and (max-width: 390px) {
  .icon-image img {
    width: 150px;
    height: 100px;
  }

 .box-1{
  width: 400px;
 }


.box-3{
  width: 480px;
  padding-left:40px ;
  padding-right: 40px;
}

.socials{
  height:300px
}

.socials-article{
  text-align: center;
}

.add-new-listing-button, .favourites-box{
  margin-left: 5px;
}
}