@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 90%;
  margin-left:60px;
  height: 900px;
}

.profile-box,
.member-status,
.favourites-box,
.your-listings,
.socials,
.help-center,
.bookings {
  background-color: #ede3d3;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #064426; 
}

.user-data h2{
    margin-top: 40px;
}

.user-data p{
    font-size: 20px;
}
.user-data button {
  background-color: #064426;
  color: #ede3d3; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 400px;
}

.profile-box,
.favourites-box {
  grid-row: 1;
}

.member-status,
.your-listings {
  grid-row: 2;
}

.socials,
.help-center,
.bookings {
  grid-row: 3;
}

.profile-box{
    width: 80%;
    height: 100%;
}

.profile-pic{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.favourites-box{
    width: 200%;
}

.member-status{
    width: 80%;
    height: 100%;
}

.your-listings{
    width: 200%;
}