@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

.dash-container {
  width: 90%;
  margin: auto;
}
.dash-container h1 {
  margin-top: 60px;
  margin-left: 40px;
  font-size: 40px;
  color: #ede3d3;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.profile-box,
.member-status,
.favourites-box,
.your-listings,
.socials,
.help-center {
  background-color: #ede3d3;
  border-radius: 10px;
  color: #064426;
}
.big-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  padding: 40px;
}
.box-1 {
  display: flex;
  flex-direction: column;
  width: 375px;
  gap: 20px;
}
.box-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 0 40px;
  gap: 20px;
}

/* PROFILE BOX */

.profile-box {
  height: 610px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 50%;
  border: 5px solid #064426;
}

.user-data h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-left: 120px;
  margin-top: 10px;
}

.user-data p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.user-data button {
  background-color: #064426;
  color: #ede3d3;
  margin-left: 30px;
  margin-top: 50px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 320px;
  height: 42px;
  font-size: 20px;
}

/* FAVOURITES BOX */

.favourites-title {
  font-size: 30px;
  margin-top: 40px;
}

.favourites-title h2 {
  font-weight: bold;
}

.favourites-box {
  display: flex;
  flex-direction: column;
}
.title-button {
  display: flex;
  justify-content: space-between;
}

.property-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.property-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.property-card p {
  padding-top: 30px;
  font-size: 20px;
}

.property-card img {
  height: 350px;
  width: 350px;
  border-radius: 10px;
}

.property-card button {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #064426;
  font-size: 20px;
  width: 320px;
  height: 40px;
  padding: 8px 16px;
}

.property-card p {
  margin: 0;
  font-size: 30px;
}

.manage-favourites-button {
  width: 320px;
  height: 40px;
  margin-top:40px ;
  margin-right: 40px;
  padding: 8px 16px;
  font-size: 20px;
  background-color: #064426;
  color: #ede3d3;
}

/* MEMBERSHIP STATUS BOX */

.member-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 605px;
}

.member-title {
  font-size: 30px;
  margin-top: 30px;
 margin-left: 350px;
 margin-bottom: 10px;
}

.member-status p {
  margin-bottom: 20px;
  font-size: 20px;
}

.mem-button {
  width: 320px;
  padding: 18px 36px;
  margin-bottom: 10px;
  font-size: 30px;
}

.member-status {
  display: flex;
  flex-direction: column;
}

.member-status button {
  background-color: #064426;
  height: 40px;
  font-size: 20px;
  padding: 8px 16px;
}
.mem-logo img {
  width: 150px;
  height: 150px;
}

.mem-points img {
  width: 150px;
  height: 150px;
}

/* YOUR LISTINGS BOX */
.your-listings {
  display: flex;
  flex-direction: column;
}

.listings-box {
  width: 200%;
}

.listings-title {
  font-size: 30px;
  margin-top: 35px;
}

.listing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.listing-card p {
  padding-top: 30px;
  font-size: 30px;
}

.listing-card img {
  height: 350px;
  width: 350px;
  border-radius: 10px;
}

.listing-card button {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #064426;
  font-size: 20px;
  width: 320px;
  height: 40px;
  padding: 8px 16px;
}

.add-new-listing-button {
  width: 320px;
  height: 40px;
  margin-top:40px ;
  margin-right: 40px;
  padding: 8px 16px;
  font-size: 20px;
  background-color: #064426;
}

/* SOCIALS BOX */
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 47%;
}

.socials-title {
  font-size: 30px;
  margin-top: 35px;
}

.socials-article {
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}

.social-img {
  margin: 0;
  display: flex;
  width: fit-content;
}

.social-img img {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  margin: 0;
}

.socials-icons {
  display: flex;
  flex-direction: row;
}

.arrow-left,
.arrow-right {
  height: 20px;
  padding: 2px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #064426;
  color: #ede3d3;
  border-radius: 50px;
  cursor: pointer;
}

/* HELP CENTER BOX */
.help-center {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.help-title {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 35px;
}

.help-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-buttons button {
  top: 50px;
  background-color: #064426;
  width: 450px;
  padding: 8px 16px;
  font-size: 20px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1500px) {
  .big-box {
    flex-wrap: wrap;
  }

  .box-1 {
    width: 100%;
  }

  .socials,
  .help-center {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .social-img img {
    width: 350px;
  }
}
