body {
  background-color: #064426;
}

:root {
  margin: 0;
}

.homeContainer h1 {
  font-family: Playfair;
  padding: 190px 190px 70px;
  font-size: 50px;
  margin: auto;
  text-align: center;
  color: #ede3d3;
}

.homeIcons {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.homeIcons li {
  font-size: 80px;
  display: flex;
  padding: 10px;
  color: #ede3d3;
}

.homebox1 {
  display: flex;
  justify-content: space-between;
  padding: 200px 240px 50px;
}

.homebox1 h2 {
  color: #ede3d3;
  font-size: 30px;
  width: 60%;
}

.homebox1 button {
  color: #064426;
  background-color: #ede3d3;
}

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 160px 20px 160px;
}

.home-prop-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 24%;
  height: fit-content;
  background-color: transparent;
  border-radius: 10px;
}

.home-prop-cards img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 400px;
  margin-right: 0;
}

.home-prop-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.home-prop-cont {
  background-color: #ede3d3;
  color: #064426;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.homebox2 {
  display: flex;
  flex-direction: column;
  padding: 200px 240px 50px;
  width: 100%;
}

.homebox2 h2 {
  color: #ede3d3;
  font-size: 30px;
  width: 60%;
  margin-bottom: 60px;
}

.homebox2-cont {
  display: flex;
  gap: 100px;
}
.homebox2 img {
  height: 700px;
  width: 500px;
}

.homebox2-icons {
  flex-wrap: wrap;
  width: 300px;
  text-align: center;
  font-size: 18px;
  padding-left: 20px;
}
.homebox2-icons2 {
  flex-wrap: wrap;
  width: 300px;
  text-align: center;
  font-size: 18px;
  padding-left: 60px;
}

.icon {
  padding: 50px;
}

.homebox3 {
  display: flex;
  flex-direction: column;
  padding: 200px 240px 50px;
}

.homebox3 h2 {
  color: #ede3d3;
  font-size: 30px;
  width: 60%;
  margin-bottom: 60px;
}

.homebox3-cont {
  display: flex;
  gap: 80px;
}

.homebox3 img {
  height: 700px;
  width: 500px;
  margin-top:70px ;
}

.homebox3-text {
  padding-top: 20px;
  font-size: 18px;
  line-height: 35px;
  width: 700px;
  text-align: center;
}

span {
  font-style: italic;
  font-weight: 700;
}

.homebox4 {
  display: flex;
  flex-direction: column;
  padding: 200px 240px 50px;
}

.homebox4 h2 {
  font-size: 30px;
}

.partner-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-card {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 60px;
  gap: 80px;
}

.partner-info img {
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
  width: 300px;
  height: 400px;
  margin: 0;
}

.partner-info img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.partner-card-cont {
  color: #ede3d3;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.partner-text{
  font-size: 18px;
  text-align: center;
  padding: 60px;
}

.homebox5 {
  display: flex;
  flex-direction: column;
  padding: 200px 240px 50px;
}

.homebox5 h2 {
  color: #ede3d3;
  font-size: 30px;
  width: 60%;
  margin-bottom: 60px;
}

.homebox5-cont {
  display: flex;
  gap: 80px;
}

.homebox5 img {
  height: 700px;
  width: 600px;
}

.homebox5-text {
  padding-top: 20px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}


.review{
  display: flex;
  margin-bottom: 40px;
}

.text{
  flex-direction: column;
  margin: 20px;
}

.text h5{
  font-size: 20px;
}

.review img{
  width: 500px;
  height: 400px;
}

.numbertext{
  display: none;
}

/* # sourceMappingURL=homepage.css.map */
