@import "./main.scss";

.navbar {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.booking-box {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: $secondary-color;
  margin-bottom: 1rem;
  padding: 1rem;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.property-details {
  color: $primary-color;
  margin-right: 1rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
  }
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  button {
    background-color: $primary-color;
    margin-bottom: 0.5rem;
  }
}
