@import "./main.scss";
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $secondary-color;
  height: 80px;
}

.logo {
  height: 160px;
  width: 160px;
}

#nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
}

.nav-button {
  border-radius: 5px;
  color: $secondary-color;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.5s;
  margin: 0 10px;
  transition: 0.3s;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: $secondary-color !important;
}

.profile-icon {
  height: 50px;
  width: 50px;
}

#underline-hover {
  height: 2px;
  width: 0px;
}

.nav-parent {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.nav-parent:hover {
  #underline-hover {
    width: 100%;
    background-color: $secondary-color;
    transition: 0.3s linear;
  }
}

#profile-icon {
  color: $secondary-color;
  background-color: transparent;
}

button:hover {
  border-color: transparent !important;
}

.dropdown-menu {
  position: fixed;
  top: 14%;
  right: 0;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  padding: 8px 0;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: $primary-color;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .nav-header {
    margin-left: 0;
  }
  .cart-icon-container {
    margin-right: 2rem;
  }
}

@media (max-width: 900px) {
  .menu-toggle {
    display: flex;
    height: 40px;
    width: 30px;
    color: $secondary-color;
    margin-right: -500px;
  }

  .nav-header {
    margin-left: 0;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 6.5rem;
    right: 0;
    z-index: 10;
  }

  .header-nav.open {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    width: 30%;
    height: 30vh;
    padding: 10px;
    border-radius: 2px;
    margin-right: 20px;

    .nav-button {
      color: black;
      padding: 10px;
    }

    #nav-links-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0px;
    }
    a {
      text-decoration: none;
      transition: 0.3s;
    }
    a:hover {
      color: $primary-color !important;
     
    }
    #underline-hover {
      height: 2px;
      width: 0px;
    }
    .nav-parent:hover {
      #underline-hover {
        width: 100%;
        background-color: $primary-color;
        transition: 0.3s linear;
      }
    }
    
  }

  .header-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-span {
    margin: 5px 0;
  }
}
