@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@500&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:wght@300&family=Pacifico&family=Sedgwick+Ave+Display&family=Space+Mono&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "poppins", sans-serif; */
}

.notFoundContainer {
  margin-top: 150px;
  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center
}
.content {
  position: relative;
  text-align: center;
}
.content h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 15rem;
}
.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 3px #333;
  filter: blur(3px);
}
.content h2:nth-child(3) {
  color: #fff6;
  filter: drop-shadow(0 15px 15px #fff);
  z-index: 1;
  text-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2),
    15px -15px 15px rgba(255, 255, 255, 0.2);
}
.content h2:nth-child(2) {
  color: rgba(6, 68, 38, 0.83);
  z-index: 2;
  animation: animate 4s ease-in-out infinite;
}
.notFoundSection1 {
    width: 100vw;
    height: 50vh;
    position: relative;
}
.notFoundSection2 {
  position: absolute;
  z-index: 2;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notFoundSection3 {
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageHolder {
    padding-top: 1px;
    height: 5vh;
    width: 600px;
    border-bottom: 3px dashed rgb(237, 227, 211);
}
.notFoundImage {
  height: 50px;
  width: 55px;
}
.notFoundSpan {
  font-size: 130px;
}
.notFoundp {
  color: rgb(237, 227, 211);
  font-family: "Allura", cursive;
  font-size: xx-large;
}
.pHolder {
  height: 5vh;
  width: 600px;
  text-align: center;
  padding-bottom: 760px;
  position: absolute;
}
.notFoundHome {
  font-family: "Allura", cursive;
  color: rgb(237, 227, 211);
  text-decoration: underline;
}
.notFoundHome:hover {
  font-size: 35px;
  cursor: pointer;
  text-shadow: 5px 5px 15px white;
  text-decoration: none;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(69% 64%, 47% 56%, 45% 100%, 27% 100%, 25% 56%, 2% 62%, 36% 19%);
      }
      50%
  {
    clip-path: polygon(100% 63%, 73% 57%, 72% 100%, 56% 100%, 55% 57%, 30% 63%, 63% 19%);
  } 
}
@media (width <= 1020px){
  .content h2 {
    font-size: 8rem;
  }
  .pHolder {
    margin-bottom: -460px;
  }

    
}
@media ((min-width: 300px) and (max-width:600px)){
    .content h2 {
      font-size: 7rem;
    }
    .notFoundSpan {
      font-size: 100px;
    }
    .pHolder {
      height: 3vh;
      width: fit-content;
      padding-left: 5px;
      padding-right: 5px;
    }
    .notFoundp {
      font-size: 25px;
    }
    .imageHolder {
      height: 3vh;
      width: 350px;
    }
    .notFoundImage {
      width: 35px;
      height: 28px;
    }
  }
