@import "./main.scss";

.payment {
  margin-top: 150px;
}

.container1 {
  margin: auto;
  padding: 20px;
}

.paymentwrapper {
  border: 1px solid #ccc;

  border-radius: 8px;
  padding: 20px;
  background-color: $secondary-color;
}

form {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  justify-content: space-between;
  color: $primary-color;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.containerP {
  flex: 1;
}

p {
  margin-bottom: 8px;
}

.containerButton {
  flex: 1;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.IoIosCheckbox,
.MdCheckBoxOutlineBlank {
  margin-right: 8px;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.container-bookingdetails {
  //margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  height: 650px;
  width: 400px;
  background-color: $secondary-color;
  color: $primary-color;
}

.container-pricesummary {
  border: 1px solid #ccc;
  border-radius: 8px;
  min-height: 400px;
  background-color: $secondary-color;
}

.summary-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.payment-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin-top: 20px;
  grid-gap: 20px;
  padding: 20px;
}
