@import "./main.scss";

.listingsbody {
  padding-top: 170px;
  max-width: 1200px;
  margin: auto;
}
.listingsh1 {
  padding: 0 55px;
  font-size: 30px;
  color: $secondary-color;
}

.listings-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 40px;
  gap: 30px;
}

.listings-card {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 26.62px;
    border-top-left-radius: 26.62px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .card-content {
    padding: 10px;
    color: $primary-color;
    font-size: 20px;
    flex: 1;
    .property-name-listing {
      font-size: 30px;
      font-weight: 800;
      font-style: italic;
    }
  }
  width: 350px;
  height: 521px;
  background-color: $secondary-color;
  border-radius: 26.62px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
.listing-icons {
  display: flex;
  justify-content: space-evenly;
  color: $primary-color;
  margin-top: 10px;
  border-top: 2px solid $primary-color;
  padding-top: 15px;
  .listing-icon {
    font-size: 23px;
    padding-left: 40px;
    border-left: 2px solid $primary-color;
    &:first-child {
      border-left: none;
      padding-left: 0px;
    }
  }
}
.pricepernight {
  margin-top: 20px;
  margin-bottom: -10px;
  padding-left: 200px;
  font-size: 15px;
  font-weight: 800;
  color: $primary-color;
}

.propertylocation {
  padding-bottom: 15px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  color: #ede3d3;
  font-size: 4rem;
  animation: spinning 3s infinite;
  position: absolute;
}

.search-and-sorting {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0 40px;
  .search-label {
    font-size: 18px;
    color: $primary-color;
  }
  .search-icon {
    font-size: 20px;
    color: $primary-color;
    margin-right: 14px;
    position: absolute;
    right: 0;
  }

  .search {
    font-size: 18px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 25px;
    position: relative;

    input {
      background-color: $secondary-color;
      margin-left: 14px;
      height: 40px;
      color: $primary-color;
      border: none;
      border-radius: 25px;
      max-width: 14rem;
      padding: 10px;

      :focus-visible {
        border: none;
      }
    }

    @media (max-width: 1010px) {
      .search-label {
        display: none;
      }
      input {
        max-width: 7rem;
      }
    }
  }

  .sort {
    margin-right: 8rem;
    select {
      background-color: $secondary-color;
      color: $primary-color;
      height: 40px;
      width: 200px;
      margin-right: -115px;
    }
  }
}
.sorting {
  border-radius: 25px;
  padding: 10px;
  option {
    border-radius: 25px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  a {
    background-color: $secondary-color;
  }
}

@media screen and (max-width: 450px) {
  .search-and-sorting {
    padding: 0 20px;
  }
  .search-and-sorting .sort select {
    width: 100px;
  }
  .listings-card-container {
    padding: 50px 16px;
  }
  .listingsh1 {
    padding: 10px 40px;
  }
}
