/* ---------- SIGN UP PAGE CSS ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(6, 68, 38);
}
.signUp-container {
    background-color: rgb(6, 68, 38);
    width: 90%;
    margin: auto;
    padding-top: 50px;
    margin-top: 80px;
    padding-bottom: 30px;

}
.sub-container1 {
    display: flex;
}
.sub-container2 {
    display: flex;
    justify-content: space-around;
    
}
.sub-containerP1 {
    display: flex;
}
.sub-containerP2 {
    display: flex;
}

.signUp-tittle {
    color: rgb(237, 227, 211);
    margin-bottom: 20px;
}
.signUp-wrapper {
    background-color: rgb(237, 227, 211);
    padding: 20px;
    border-radius: 10px;
}
.submitButton {
    color: rgb(237, 227, 211);
    background-color: rgb(6, 68, 38);
}

.signUp-left-column,
.signUp-right-column {
  flex: 1;
  padding: 30px;
  
}
.signUp-left-column {
    grid-area: signUp-left-column;
}
.signUp-right-column {
    grid-area: signUp-right-column;
}
.sub-containerP {
    grid-area: sub-containerP;
}
.sub-containerButton {
    grid-area: sub-containerButton;
}

.signUp-input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

/*RESPONSIVENESS*/

@media (width <= 800px){
    .sub-container1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
      "signUp-left-column"
      "signUp-right-column"
    }
    .sub-container2 {
        display: grid;
        align-items: center;
        place-items: center;
        place-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "sub-containerP"
        "sub-containerButton"
      }
    .signUp-container {
        height: fit-content;
        width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        
      }
}

/* ---------- END ---------- */