/* ---------- SIGN UP PAGE CSS ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(6, 68, 38);
}
.signUp-container {
    background-color: rgb(6, 68, 38);
    width: 90%;
    margin: auto;
    padding-top: 50px;
    margin-top: 80px;
}
.sub-container1 {
    display: flex;
}
.sub-container2 {
    display: flex;
    justify-content: space-around;
    
}
.sub-containerP1 {
    display: flex;
}
.sub-containerP2 {
    display: flex;
}

.signUp-tittle {
    color: rgb(237, 227, 211);
    margin-bottom: 20px;
}
.signUp-wrapper {
    background-color: rgb(237, 227, 211);
    padding: 20px;
    border-radius: 10px;
}
.submitButton {
    color: rgb(237, 227, 211);
    background-color: rgb(6, 68, 38);
}

.signUp-left-column,
.signUp-right-column {
  flex: 1;
  padding: 30px;
  
}

.signUp-input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

/* ---------- END ---------- */